<manifest  xmlns:android="http://schemas.android.com/apk/res/android" package="org.openapitools.server">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

   <application android:label="@string/app_name"
                android:usesCleartextTraffic="true" >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

       <service android:name="org.eclipse.paho.android.service.MqttService" />
       <service
               android:name=".service.MQTTService"
               android:permission="android.permission.BIND_JOB_SERVICE"
               android:enabled="true"
               android:exported="false">

       </service>
    </application>


</manifest>